<div class="container-fluid">
  <div class="center-content d-flex justify-content-center align-items-center">
    <div class="jumbotron">
      <h1>Obtenir un devis d'assurance auto</h1>
      <h2>Simple rapide et gratuit</h2>
    </div>
  </div>
  <div class="button-container d-flex justify-content-end align-items-end">
    <div>
    <button class="btn btn-Success"><img src="../../assets/mail.svg">Envoyer par mail</button><br>
    <button class="btn btn-Success"><img src="../../assets/tel.svg">Se faire rappeler</button>
  </div>
</div>