<div class="principal d-flex justify-content-center align-items-center">
  <div class="jumbotron">
    <h1 class="display-4">Voudriez-vous adhérer à un service d’assurance automobile Proxibanque ? </h1>
    <div class="d-flex justify-content-center align-items-center">
      <img class="zoomPos zoomEffect pouce" src="../../assets/pouce_haut_vert.svg" routerLink="/client">
      <img class="zoomNeg zoomEffect pouce" src="../../assets/pouce_bas_rouge.svg" routerLink="/comment">
    </div>
  </div>
</div>


