<!-- <p>
  {{survey.id}}{{survey.endDate}} {{survey.startDate}}  {{survey.expectedDate}} 
</p>
<form class="form" (ngSubmit)="submit(commentForm)" #commentForm="ngForm">
  <legend>Commentaire</legend>
  
  <button class="btn btn-success" routerLink="/commentConfirmation">Envoyez nous votre avis</button>
</form> -->

<!-- <div class="container-fluid">
  <div class ="row justify-content-center">
    <div class="col-4"> -->
        <div class="comment d-flex justify-content-center align-items-center">

      <div class="card form-card" >
        <div class="card-body">
          <h5 class="card-title">Commentaire :</h5>   
          <form class="form" (ngSubmit)="submit(commentForm)" #commentForm="ngForm">
            <div class="form-group">
              <!-- <label for="comment">Commentaire label</label> -->
              <textarea id="comment" name="comment" class="form-control" [(ngModel)]="response.comment" placeholder="Aidez nous à améliorer notre offre"></textarea>
            </div>
            <button  type="submit" class="btn btn-primary">Envoyez nous votre avis</button>
          </form>
        </div>
      </div>

    </div>
    <!-- </div>
  </div>
</div> -->